# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - uses: yezz123/setup-uv@v4
    - name: Install dependencies
      run: |
        uv venv
        uv pip install pytest
        uv pip install -r requirements.txt
    - name: Test with pytest
      run: |
        source .venv/bin/activate
        pytest
      env:
          OPENAI_API_KEY: ${{ vars.OPENAI_API_KEY }}
          ANTHROPIC_API_KEY: ${{ vars.ANTHROPIC_API_KEY }}
